<form class="form" #formUser="ngForm" (ngSubmit)="onSubmit(formUser, $event)">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Identifiants</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" #email ngModel name="email" matInput placeholder="email" required />
      <mat-error>L'email est obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput placeholder="mot de passe" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmation mot de passe</mat-label>
      <input type="password" matInput placeholder="confirmation mot de passe" />
    </mat-form-field>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Infos personnelles</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input type="text" matInput placeholder="nom" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input type="text" matInput placeholder="prénom" />
    </mat-form-field>

  </mat-expansion-panel>

  <div>
    <button mat-button type="submit" [disabled]="formUser.invalid">Enregistrer</button>
  </div>
</form>